<html lang="en">

<head>
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
  <!-- layout CSS -->
  <link rel="stylesheet" href="../styles/layout.css" type="text/css" />
  <!-- login CSS -->
  <link rel="stylesheet" href="../styles/login.css" type="text/css" />
  <!-- navbar CSS -->
  <link rel="stylesheet" href="../styles/navbar.css" type="text/css" />
  <!-- cart CSS -->
  <link rel="stylesheet" href="../styles/cart.css" type="text/css" />


  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Owner Portal</title>

</head>

<body>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper teal">
        <a href="#" class="brand-logo center">Foodify</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a id="loginregbtn" class="waves-effect waves-light btn">Login </a></li>
        </ul>
      </div>
  </div>
  </nav>
  <!-- LOGIN & REGISTER -->

  <div class="loginreg container white z-depth-2 right">
    <ul class="tabs teal">
      <li class="tab col s3"><a class="white-text active" href="#login">login</a></li>
      <li class="tab col s3"><a class="white-text" href="#register">register</a></li>
    </ul>
    <div id="login" class="col s12">
      <form class="col s12">
        <div class="form-container">
          <h3 class="teal-text">Hello</h3>
          <div class="row">
            <div class="input-field col s12">
              <input id="email" type="email" class="validate">
              <label for="email">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="password" type="password" class="validate ">
              <label for="password">Password</label>
            </div>
          </div>
          <br>
          <center>
            <button class="btn waves-effect waves-light teal" type="submit" name="action">Connect</button>
            <br>
            <br>
          </center>
        </div>
      </form>
    </div>
    <div id="register" class="col s12">
      <form class="col s12">
        <div class="form-container">
          <h3 class="teal-text">Welcome</h3>
          <div class="row">
            <div class="input-field col s6">
              <input id="last_name" type="text" class="validate">
              <label for="last_name">First Name</label>
            </div>
            <div class="input-field col s6">
              <input id="last_name" type="text" class="validate">
              <label for="last_name">Last Name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="email" type="email" class="validate">
              <label for="email">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="phoneNumber" type="tel" class="validate" size="20" minlength="9" maxlength="14" placeholder="333-4444-4444" required>
              <label for="phoneNumber">Phone Number</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="password" type="password" class="validate">
              <label for="password">Password</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="password-confirm" type="password" class="validate">
              <label for="password-confirm">Password Confirmation</label>
            </div>
          </div>
          <center>
            <button class="btn waves-effect waves-light teal" type="submit" name="action">Submit</button>
          </center>
        </div>
      </form>
    </div>
  </div>

  <!-- Restaurant Info -->
  <div id='restaurantList' class="container left">
    <ul class="collection with-header z-depth-2 ">
      <li class="collection-header">
        <h4>Welcome Owner</h4>
        <h6>Owner id#</h6>
        <h6></h6></li>
      <a href="#!" class="collection-item avatar">
        <li>
          <span class="title">Restaurant 1</span>
          <p># of Sales today: 15 <br> # of sales all time: 400
          </p>
        </li>
      </a>
      <a href="#!" class="collection-item avatar">
        <li>
          <span class="title">Restaurant 2</span>
          <p># of Sales today: 30 <br> # of sales all time: 987
          </p>
        </li>
      </a>
      <a href="#!" class="collection-item avatar">
        <li>
          <span class="title">Restaurant 3</span>
          <p># of Sales today: 65 <br> # of sales all time: 1852
          </p>
        </li>
      </a>
      <a href="#!" class="collection-item avatar">
        <li>
          <span class="title">Restaurant 4</span>
          <p># of Sales today: 10 <br> # of sales all time: 2597
          </p>
        </li>
      </a>
    </ul>
  </div>

  <div id='restaurantByID' class="container z-depth-2 ">
    <ul class="collection with-header">
      <li class="collection-header">
        <h4>Restaurant Name</h4>
        <h6>Restaurant ID#</h6>
        <h6></h6></li>
      <li class="collection-item ">
        <span class="title">Average Transatcion Value</span>
        <p>$79.60</p>
      </li>
      <li class="collection-item ">
        <span class="title">Best Selling Items</span>
        <p>First: itemID Cnt: 15<br> Second: itemID Cnt: 9 <br> Third: itemID Cnt: 15
        </p>
      </li>
      <li class="collection-item ">
        <span class="title">Total Sales</span>
        <p>Sales by day: $6,519<br>
          Sales by month: $61,895<br>
          Sales by year: $589,652
        </p>
      </li>
    </ul>
  </div>





  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script src='../public/scripts/app.js' charset='utf-8'></script>
  <script src="js/init.js"></script>
</body>

</html>
