
#shoppingcart{
    height: 450px;
}
#shoppingcart.container{
  margin-top: 9px;
  height: 100%;
}

.shopping-cart {
  margin-top: 0;
  overflow: hidden;
  margin-right: 5em;
  overflow-y: scroll;
  float: right;
  background: white;
  width: 100%;
  position: relative;
  border-radius: 3px;
  padding: 10px;

  .shopping-cart-header {
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 15px;

    .shopping-cart-total {
      float: right;
    }
  }
  .shopping-cart-items {
      padding-top: 20px;
        li {
          margin-bottom: 18px;
        }
        .item-name {
        display: block;
        padding-top: 10px;
        font-size: 16px;
      }
      .item-price {
        color: $main-color;
        margin-right: 8px;
      }
      .item-quantity {
        color: $light-text;
      }
    }
  }


.cart-icon {
  color: #515783;
  font-size: 24px;
  margin-right: 7px;
  float: left;
}

.button {
  background: $main-color;
  color:white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  display: block;
  border-radius: 3px;
  font-size: 16px;
  margin: 25px 0 15px 0;

  &:hover {
    background: lighten($main-color, 3%);
  }
}

  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
