#cart{
  height:100%;
  width:100%;
}

#shoppingcart{
  margin-top:40px;
}

.container {
	margin-top: 80px;
	width: 400px;
}

#restaurantList.container{
  margin-left: 50px;

}

.nav-fixed {
   position: fixed;
   right: 0;
   left: 0;
   top: 0;
   margin-bottom: 0px;
   z-index: 997;
 }
